body {
  font-size: 1.2em;
}

#app {
  width: 90%;
  margin: auto;
}


.grid {
	display: grid;
  width: 900px;
  height: 2600px;
  margin: auto;
  grid-template: repeat(26, 1fr) / repeat(12, 1fr);
  justify-items: center;
  align-items: center;
}

img {
  max-width: 100%;
  padding: 0px !important;
}

/* set 1: repurposed living */
.a {
	grid-area: 1 / 3 / 5 / 13;
}

.b {
	grid-area: 1 / 2 / 3 / 5;
  background-color: white;
  opacity: 0.75;
}

.c {
	grid-area: 3 / 2 / 3 / 4;
  background-color: white;
  opacity: 0.75;
}

/* set 2: angles */

.d {
	grid-area: 4 / 1 / 11 / 7;
}

.e {
	grid-area: 6 / 5 / 7 / 10;
}

.f {
	grid-area: 7 / 6 / 10 / 8;
}

/* set 3: pattern play */

.g {
	grid-area: 10 / 3 / 15 / 13;
}

.h {
	grid-area: 11 / 2 / 12 / 5
}

.i {
	grid-area: 12 / 2 / 14 / 4;
}

/* set 4: healing house */

.j {
	grid-area: 14 / 1 / 21 / 7;
}

.k {
	grid-area: 15 / 5 / 17 / 9;

}

.l {
	grid-area: 17 / 6 / 18 / 8;
}

/* set 5: curved perfection */

.m {
	grid-area: 19 / 3 / 25 / 13;
}

.n {
	grid-area: 21 / 2 / 22 / 5;
}

.o {
	grid-area: 22 / 2 / 24 / 4;
}

footer {
  grid-area: 25 / 1 / 26 / span 12;
  align-self: end;
}

.headLine {
  margin-top: 5vh;
  height: 20vh;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 120%;
  margin-bottom: 10vh;
}

.box {
  font-family: 'Roboto Slab', serif;
  font-size: 90%;
  padding: 15px;
}

.title {
  font-weight: 700;
  font-size: 180%;
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
  background-color: white;
  opacity: 0.75;
}

.subtitle {
  background-color: white;
  opacity: 0.75;
}

/* media queries */

@media (min-width: 1150px) {
  #app {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .grid {

  }

  .title {
    width: 65%;
    font-size: 120%;
  }
}
