@import 'partials/reset';
@import 'partials/components';
@import 'pages/index';
@import 'pages/404';


#app {
  width: 90%;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;

  @media (min-width: 1150px) {
    width: 80%;
    margin: auto;
  }

  @extend %index;
  @extend %not-found;
}